<div class="box">
  <h2 class="answer"><%= @question %></h2>
  <p class="person">- You</p>
</div>
<div class="box">
  <p class="answer"><%= @answer %></p>
  <p class="person">- Coach</p>
</div>
<div class="link"><%= link_to "Ask another question", ask_path %></div>
