// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box {
  border: 1px grey solid;
  padding-left: 10px;
  margin-bottom: 10px;
  width: 50%;
}

.person {
  background-color: #FFFEE1;
}

.answer {
  background-color: lightgrey;
}
