// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.button {
  background-color: blue;
  font-weight: bold;
  color: white;
  height: 50px;
  width: auto;
  font-size: 1.5em;
}

.question {
  height: 50px;
  width: 500px;
  font-size: 1.5em;
}
